*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #0D6EFD;
}

p{
    font-family: 'Roboto Slab';
    font-size: 3em;
    text-align: center;
}

div{
    width: 50%;
    margin: auto;
    padding-top: 2%;
}

img{
    width: 100%;
    border-radius: 20px;
}

div p{
    color: blue;
}

